.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 92.5vh;
    width: 100%;
    margin-top: 10%;
}
.hero__container{
    width: 50%;
    position: relative;
    top: 20%;
    height: 60%;
}
.hero__container__header__sub{
    font-size: 1.5rem;
    line-height: 2rem;
    color: black;
}
.hero__container__header__name{
    font-size: clamp(3rem,5vw + 1rem,6.2rem);
    line-height: 1.1;
    font-weight: bolder;
    color: black;
}
.hero__container__main{
    color: black;
    font-size: 2vw;
    width: 87%;
    margin-top: 2%;
}
.hero__container__main__work{
    font-weight: bold;
}
.hero__links{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3%;
}
.hero__links__link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 6%;
    min-width: 6%;
    height: 40px;
    border: none;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;   
    color: black;
    transition: all ease-in-out .1s; 
}
.hero__links__link:hover{
    transform: scale(1.05);
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    color: white;
}

.hero__logo{
    height: 350px;
    width: 350px;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
    left: -7%;
    top: 20%;
    margin-left: 4%;
}

.icon{
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .hero__logo{
        margin-left: 0;
        left: 0;
    }

}
@media screen and (max-width: 767px) {
    .hero{
        flex-direction: column-reverse;
        flex-wrap: initial;
        align-items: center;
        position: relative;
        top: -11%;
        text-align: -webkit-center;
        margin-bottom: 5%;
        height: auto;
    }
    .hero__logo{
        height: 250px;
        width: 250px;
    }
    .hero__container__main{
        font-size: 4vw;
    }
    .hero__links{
        flex-wrap: initial;
        flex-direction: column;
        place-items: center;

    }
    .hero__links__link{
        width: 175px;
    }
}