.projects-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    padding: 1%;
    height: 200px;
    background-color: #111745;
    border: 1px solid rgb(33, 111, 255);
    margin-top: 3%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.projects-form__emoji{
    font-size: 20px;
}
.projects-form__title{
    color: white;
}
.projects-form__skills{
    list-style: none;
    display: flex;
    gap: 5%;
}
.projects-form__skills__item{
    color: black;
    min-width: 20px;
    background-color: #24C5D9;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    padding: 2%;
    position: relative;
    text-decoration: none;
    transition: all ease-in-out .1s;
}
.projects-form__skills__item:hover{
    background-color:#00e1ff;
    cursor: pointer;
}
.projects-form__description{
    color:aliceblue;
}


.projects-form__button {
    align-items: center;
    background-color: #2655B6;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 17px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 89px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    gap: 4%;
    transition: all ease-in-out .2s;
}
.projects-form__button:hover{
    transform: scale(1.05);
    background-color: #3a63b4;
}
