.projects-form{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    min-width: 25vw;
    max-width: 23vw;
    height: 33vh;
    background-color: #111745;
    margin-top: 3%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.555) 0px 5px 15px;
    transition: all ease-in-out .2s;
}
.projects-form:hover{
    transform: scale(1.05);
}
.projects-form__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.projects-form__container{
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .2s
}
.projects-form:hover .projects-form__container{
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.747);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
    visibility: visible;
    opacity: 1;
    padding: 1rem;
}
.projects-form__container__title{
    text-align: center;
    font-size: 25px;
}
.projects-form__container__description{
    text-align: center;
}
.projects-form__links{
    display: flex;
    gap: 10%;
}
.projects-form__button{
    width: 6.5vw;
    color: white;
    background: transparent;
    border: 2px solid white;
    padding: 2%;
    display: flex;
    place-content: center;
    gap: 5%;
    align-items: center;
}
.projects-form__button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

@media screen and (max-width: 767px) {

    .projects-form{
        min-width: initial;
        max-width: initial;
        width: 80%;
    }
    .projects-form__button{
        width: 100px;
        height: 3vh;
    }
}