.skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.skills__title{
    color: black;
    margin-bottom: 2%;
}
.skills__list{
    color: #D4E8F7;
    display: flex;
    flex-wrap: wrap;
}
.skills__list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10%;
}
.skills__list-container__list__title{
    color: black;
    font-weight: bold;
    font-size: clamp(2rem,1vw + 1rem,6.2rem);
}
.skills__list-container__list__item{
    color: rgba(0, 0, 0, 0.534);
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .skills{
        margin-top: 4%;
    }
    .skills__list-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .skills__list-container__list{
        padding: 0;
    }
}